.slugg {
  margin-bottom: 25rem;

  padding: 0;
}
.rot {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 5rem;
}
.cart {
  width: 300px;
}
