.slugg {
   
    display: flex;
    justify-content: center;
    align-items: center;

}
.rot {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 5rem;
    
}
.cart {
    width:300px;
}